<h1>Welcome to RedditClone</h1>

<div>
  <% if logged_in? %>
    <%= link_to "Log out", logout_path, method: :delete %>
    <%= link_to "Profile", current_user %>
  <% else %>
    <%= link_to "Log in", login_path %>
  <% end %>
</div>

<div>
  <% flash.each do |message_type, message| %>
    <div><%= message %></div>
  <% end %>
</div>